@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "variables-dark";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";

dialog {
    @extend .alert;
    @extend .mb-auto;

    &::backdrop {
        background: rgba(0, 0, 0, 0.8);
    }
}

img {
    &:not([src]), &[src=""] {
        display: none;
    }
}

a {
    &.card {
        text-decoration: none;
    }
}

.avatar {
    max-width: 1em;
}

[data-owner]:not(.active) {
    display: none;
}